<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="favicon.ico" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="./">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="./pages/setores.html">Setores</a>
        <a class="nav-link" href="./pages/novo-funcionario.html">Funcionario</a>
      </div>
    </div>
  </div>
</nav>

	<div id="inicio" class="container">
		<h4 center-aling>Lista dos Funcionários</h4>
		<div container-fluid>
		<table>
		<thead>
			<tr>
				<th scope="col" v-for="funcioario in listaFuncionariosHeader">{{ funcioario.label }}</th>
			  </tr>
			</thead>
			<tbody>
				<tr  v-for="funcionario in listaFuncionarios" scope="row">
					<td>{{ funcionario.nome }}</td>
					<td>{{ funcionario.setor.nome }}</td>
					<td>{{ funcionario.salario }}</td>
					<td>{{ funcionario.email }}</td>
					<td>{{ funcionario.idade }}</td>
					<td><span @click="">&#9998;</span>
						<span @click="removeFuncionario(funcionario)">&#10006;</span>
					</td>
				</tr>
			</tbody>
		</table>
		</div>
	</div>

	<script src="resources/js/vue.js"></script>
	<script src="resources/js/axios.min.js"></script>
	<script src="resources/js/index.js"></script>
</body>

</html>